@{
    ViewBag.Title = "About";
}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>

<head>
    <title>CityLine a corporate Category Flat Bootstrap Responsive Website Template | About :: w3layouts</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="CityLine Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
    </script>
    <!-- //for-mobile-apps -->
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- pop-up -->
    <link href="~/Content/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
	<!-- //pop-up -->
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/css/about.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- js -->
    <script src="~/Content/js/jquery-2.2.3.min.js"></script>
    <!--/js-->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
        rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic'
        rel='stylesheet' type='text/css'>
    <!-- nav smooth scroll -->
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });

    </script>
    <!-- //nav smooth scroll -->
</head>

<body>
 
	<!-- //header -->
	<div class="general_social_icons">
		<nav class="wthree-social">
			<ul>
				<li class="w3_facebook"><a href="#"> <i class="fa fa-facebook"></i>Facebook</a></li>
				<li class="w3_twitter"><a href="#"><i class="fa fa-twitter"></i>Twitter </a></li>
				<li class="w3_dribbble"><a href="#"> <i class="fa fa-dribbble"></i>Dribbble</a></li>
				<li class="w3_g_plus"><a href="#"><i class="fa fa-google-plus"></i>Google+ </a></li>				  
			</ul>
		</nav>
	</div>
    <!-- banner -->
    <div class="w3ls-banner text-center">
        <div class="container">
            <h2 class="wthree-title">time to go digital</h2>
            <h3 class="wthree-subtitle">making a better world</h3>
        </div>
    </div>
    <!-- //banner -->
    <!-- breadcrumbs -->
    <div class="w3layouts-breadcrumbs text-center">
        <div class="container">
            <span class="agile-breadcrumbs"><a href="index.html">Home</a> > <span>About us</span></span>
        </div>
    </div>
    <!-- //breadcrumbs -->
    <div class="container">
        <!-- services section -->
        <div class="w3ls-section w3_agileits-about" id="services">
            <div class="main-about-w3ls-txt">
                <div class="col-md-6 col-sm-6 col-xs-6 agileinfo-about-img">
                    <img src="~/Content/images/a4.jpg" class="img-responsive" alt="">
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 agileinfo-about-txt">
                    <h4 class="info">Experience super fast Internet speed</h4>
                </div>
                <div class="clearfix"></div>
            </div>
			 <div class="main-about-w3ls-txt">
                <div class="col-md-6 col-sm-6 col-xs-6 agileinfo-about-txt">
                    <h4 class="info">Experience the next level of incredible</h4>
                </div>
				<div class="col-md-6 col-sm-6 col-xs-6 agileinfo-about-img">
                    <img src="~/Content/images/dth.jpg" class="img-responsive" alt="">
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="main-about-w3ls">
                <div class="col-md-8 col-sm-8 col-xs-8 agileinfo-about abt-rad">
                    <h4 class="info">Get the Best of DTH channels.<br>Feel the beauty.</h4>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 agileinfo-about-img abt-w3ls-btmimg">
                    <img src="~/Content/images/p1.png" class="img-responsive" alt="">
                </div>
                <div class="clearfix"></div>
                <div class="col-md-4 col-sm-4 col-xs-4 agileinfo-about-img abt-w3ls-btmimg">
                    <img src="~/Content/images/about2.png" class="img-responsive" alt="">
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8 agileinfo-about">
                    <h4 class="info">Get the Best of Internet and DTH channels on your TV</h4>
                </div>
                <div class="clearfix"></div>
				<!--team -->
<div class="team agileits-w3layouts" id="team">
	<h4 class="w3ls-inner-title">Board of Directors</h4>
		<div class="team-w3ls">
			<div class="col-md-6 col-sm-6 col-xs-6 team-grid w3_agileits">
                <img class="col-md-3 img-w3l t1-wthree img-responsive" src="~/Content/images/t1.jpg" alt="">
				<div class="col-md-9 team-w3ls-txt">
					<h5>Mercurio</h5>
					<p>Lorem ipsum dolor sit amet.Cras rutrum iaculis enim, non convallis felis mattis.</p>
					<ul class="agileits_social_icons">
						<li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="#" class="google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
					</ul>
				</div>	
				<div class="clearfix"> </div>
			</div>
			<div class="col-md-6  col-sm-6 col-xs-6 team-grid w3_agileits t2">
                <img class="col-md-3 img-w3l t1-wthree img-responsive" src="~/Content/images/t2.jpg" alt="">
				<div class="col-md-9 team-w3ls-txt">
					<h5>Clifford</h5>
					<p>Lorem ipsum dolor sit amet.Cras rutrum iaculis enim, non convallis felis mattis.</p>
					<ul class="agileits_social_icons">
						<li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="#" class="google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
					</ul>
				</div>	
				<div class="clearfix"> </div>
			</div>
			<div class="clearfix"> </div>
			<div class="col-md-6  col-sm-6 col-xs-6 w3_agileits team-grid">
                <img class="col-md-3 img-w3l t1-wthree img-responsive" src="~/Content/images/t3.jpg" alt="">
				<div class="col-md-9 team-w3ls-txt">
					<h5>Davidson</h5>
					<p>Lorem ipsum dolor sit amet.Cras rutrum iaculis enim, non convallis felis mattis.</p>
					<ul class="agileits_social_icons">
						<li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="#" class="google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
					</ul>
				</div>	
				<div class="clearfix"> </div>
			</div>
			<div class="col-md-6  col-sm-6 col-xs-6 team-grid w3_agileits">
                <img class="col-md-3 img-w3l t1-wthree img-responsive" src="~/Content/images/t4.jpg" alt="">
				<div class="col-md-9 team-w3ls-txt">
					<h5>Mercurio</h5>
					<p>Lorem ipsum dolor sit amet.Cras rutrum iaculis enim, non convallis felis mattis.</p>
					<ul class="agileits_social_icons">
						<li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="#" class="google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
					</ul>
				</div>	
				<div class="clearfix"> </div>
			</div>
			<div class="clearfix"> </div>
			<div class="col-md-6  col-sm-6 col-xs-6 team-grid w3_agileits t2">
                <img class="col-md-3 img-w3l t1-wthree img-responsive" src="~/Content/images/t5.jpg" alt="">
				<div class="col-md-9 team-w3ls-txt">
					<h5>Clifford</h5>
					<p>Lorem ipsum dolor sit amet.Cras rutrum iaculis enim, non convallis felis mattis.</p>
					<ul class="agileits_social_icons">
						<li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="#" class="google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
					</ul>
				</div>	
				<div class="clearfix"> </div>
			</div>
			<div class="col-md-6  col-sm-6 col-xs-6 w3_agileits team-grid">
                <img class="col-md-3 img-w3l t1-wthree img-responsive" src="~/Content/images/t6.jpg" alt="">
				<div class="col-md-9 team-w3ls-txt">
					<h5>Davidson</h5>
					<p>Lorem ipsum dolor sit amet.Cras rutrum iaculis enim, non convallis felis mattis.</p>
					<ul class="agileits_social_icons">
						<li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="#" class="google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
					</ul>
				</div>	
				<div class="clearfix"> </div>
			</div>
			<div class="clearfix"> </div>
		</div>   
	</div>
<!-- //team--> 
                <div class="col-md-4 col-sm-4 col-xs-4 agileits-icon-grid text-center">
                    <div class="icon-left">
                        <i class="fa fa-wifi" aria-hidden="true"></i>
                    </div>
                    <div class="icon-right">
                        <h5>Suspendisse</h5>
                        <p>Phasellus dapibus felis elit, sed accumsan arcu gravida vitae.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 agileits-icon-grid text-center">
                    <div class="icon-left">
                        <i class="fa fa-wifi" aria-hidden="true"></i>
                    </div>
                    <div class="icon-right">
                        <h5>Suspendisse</h5>
                        <p>Phasellus dapibus felis elit, sed accumsan arcu gravida vitae.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 agileits-icon-grid text-center">
                    <div class="icon-left">
                        <i class="fa fa-wifi" aria-hidden="true"></i>
                    </div>
                    <div class="icon-right">
                        <h5>Suspendisse</h5>
                        <p>Phasellus dapibus felis elit, sed accumsan arcu gravida vitae.</p>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>

        </div>
    </div>
  	
    <!-- Modal1 -->
					<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" >

							<div class="modal-dialog">
							<!-- Modal content-->
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4>Login</h4>
										<div class="login-form">
											<form action="#" method="post">
												<input type="email" name="email" placeholder="E-mail" required="">
												<input type="password" name="password" placeholder="Password" required="">
												<div class="tp">
													<input type="submit" value="LOGIN NOW">
												</div>
												<div class="forgot-grid">
												       <div class="log-check">
														<label class="checkbox"><input type="checkbox" name="checkbox">Remember me</label>
														</div>
														<div class="forgot">
															<a href="#" data-toggle="modal" data-target="#myModal2">Forgot Password?</a>
														</div>
														<div class="clearfix"></div>
													</div>
												
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
				<!-- //Modal1 -->
				 <!-- Modal1 -->
					<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" >

							<div class="modal-dialog">
							<!-- Modal content-->
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4>Register</h4>
										<div class="login-form">
											<form action="#" method="post">
											    <input type="text" name="name" placeholder="Name" required="">
												<input type="email" name="email" placeholder="E-mail" required="">
												<input type="password" name="password" placeholder="Password" required="" id="password1">
												<input type="password" name="conform password" placeholder="Confirm Password" required="" id="password2">
												<div class="signin-rit">
													<span class="agree-checkbox">
														<label class="checkbox"><input type="checkbox" name="checkbox">I agree to your <a class="w3layouts-t"  href="terms.html" target="_blank">Terms of Use</a> and <a class="w3layouts-t" href="privacy.html" target="_blank">Privacy Policy</a></label>
													</span>
												</div>
												<div class="tp">
													<input type="submit" value="REGISTER NOW">
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
				<!-- //Modal1 -->
				<script type="text/javascript">
					window.onload = function () {
						document.getElementById("password1").onchange = validatePassword;
						document.getElementById("password2").onchange = validatePassword;
					}
					function validatePassword(){
						var pass2=document.getElementById("password2").value;
						var pass1=document.getElementById("password1").value;
						if(pass1!=pass2)
							document.getElementById("password2").setCustomValidity("Passwords Don't Match");
						else
							document.getElementById("password2").setCustomValidity('');	 
							//empty string means no validation error
					}

			</script>
    <script src="~/Content/js/SmoothScroll.min.js"></script>
  
    <script src="~/Content/js/SmoothScroll.min.js"></script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/Content/js/bootstrap.js"></script>


</body>

</html>