
@{
    ViewBag.Title = "bbhome";
}



     <!-- banner -->
<div class="w3ls-banner text-center">
    <div class="container">
        <h2 class="wthree-title">time to go digital</h2>
        <h3 class="wthree-subtitle">making a better world</h3>
    </div>
</div>
<!-- //banner -->
<!-- breadcrumbs -->
<div class="w3layouts-breadcrumbs text-center">
    <div class="container">
        <span class="agile-breadcrumbs"><a href="index.html">Home</a> >  <span>Broadband</span></span>
    </div>
</div>
<!-- //breadcrumbs -->
<!-- //banner -->
<div class="w3l-main-contact">
    <div class="container">
        <div class="w3three-bb-main">
            <h4 class="w3ls-inner-title">CityLine Broadband Plans</h4>
            <h5>select your plan</h5>
            <table class="table table-responsive">
                <thead class="w3ls-table">
                    <tr>
                        <td>Plan</td>
                        <td>Speed</td>
                        <td>FUP</td>
                        <td>Post FUP</td>
                        <td>Benefits</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="w3ls-plan"><input type="radio" name="planname" class="element-button" value="1" id="plan1"><span>Elite</span></td>
                        <td>125Mbps</td>
                        <td>750GB</td>
                        <td>2Mbps</td>
                        <td>$30</td>
                        <td class="wthree-table-enq"><a href="#" class="login" data-toggle="modal" data-target="#myModal4">enquiry</a></td>
                    </tr>
                    <tr>
                        <td class="w3ls-plan"><input type="radio" name="planname" class="element-button" value="1" id="plan2"><span>Stream</span></td>
                        <td>125Mbps</td>
                        <td>750GB</td>
                        <td>2Mbps</td>
                        <td>$30</td>
                        <td class="wthree-table-enq"><a href="#">enquiry</a></td>
                    </tr>
                    <tr>
                        <td class="w3ls-plan"><input type="radio" name="planname" class="element-button" value="1" id="plan3"><span>CL Elite</span></td>
                        <td>125Mbps</td>
                        <td>750GB</td>
                        <td>2Mbps</td>
                        <td>$30</td>
                        <td class="wthree-table-enq"><a href="#" class="login" data-toggle="modal" data-target="#myModal4">enquiry</a></td>
                    </tr>
                    <tr>
                        <td class="w3ls-plan"><input type="radio" name="planname" class="element-button" value="1" id="plan4"><span>CL Stream</span></td>
                        <td>125Mbps</td>
                        <td>750GB</td>
                        <td>2Mbps</td>
                        <td>$30</td>
                        <td class="wthree-table-enq"><a href="#" class="login" data-toggle="modal" data-target="#myModal4">enquiry</a></td>
                    </tr>
                    <tr>
                        <td class="w3ls-plan"><input type="radio" name="planname" class="element-button" value="1" id="plan5"><span>Elite</span></td>
                        <td>125Mbps</td>
                        <td>750GB</td>
                        <td>2Mbps</td>
                        <td>$30</td>
                        <td class="wthree-table-enq"><a href="#" class="login" data-toggle="modal" data-target="#myModal4">enquiry</a></td>
                    </tr>
                    <tr>
                        <td class="w3ls-plan"><input type="radio" name="planname" class="element-button" value="1" id="plan6"><span>Stream</span></td>
                        <td>125Mbps</td>
                        <td>750GB</td>
                        <td>2Mbps</td>
                        <td>$30</td>
                        <td class="wthree-table-enq"><a href="#" class="login" data-toggle="modal" data-target="#myModal4">enquiry</a></td>
                    </tr>
                    <tr>
                        <td class="w3ls-plan"><input type="radio" name="planname" class="element-button" value="1" id="planname_frm"><span>Elite</span></td>
                        <td>125Mbps</td>
                        <td>750GB</td>
                        <td>2Mbps</td>
                        <td>$30</td>
                        <td class="wthree-table-enq"><a href="#">enquiry</a></td>
                    </tr>
                    <tr>
                        <td class="w3ls-plan"><input type="radio" name="planname" class="element-button" value="1" id="plan7"><span>Econ</span></td>
                        <td>125Mbps</td>
                        <td>750GB</td>
                        <td>2Mbps</td>
                        <td>$30</td>
                        <td class="wthree-table-enq"><a href="#" class="login" data-toggle="modal" data-target="#myModal4">enquiry</a></td>
                    </tr>
                </tbody>
            </table>
            <p class="tab-bot"><span>**</span>Installation charges and taxes extra as applicable.</p>
        </div>
    </div>
</div>