
@{
    ViewBag.Title = "Blog";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>CityLine a corporate Category Flat Bootstrap Responsive Website Template | Blog :: w3layouts</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="CityLine Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //for-mobile-apps -->
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- pop-up -->
    <link href="~/Content/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //pop-up -->
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- js -->
    <script src="~/Content/js/jquery-2.2.3.min.js"></script>
    <!--/js-->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
          rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic'
          rel='stylesheet' type='text/css'>
    <!-- nav smooth scroll -->
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });

    </script>
    <!-- //nav smooth scroll -->
</head>

<body>
   
    <!-- //header -->
    <div class="general_social_icons">
        <nav class="wthree-social">
            <ul>
                <li class="w3_facebook"><a href="#"> <i class="fa fa-facebook"></i>Facebook</a></li>
                <li class="w3_twitter"><a href="#"><i class="fa fa-twitter"></i>Twitter </a></li>
                <li class="w3_dribbble"><a href="#"> <i class="fa fa-dribbble"></i>Dribbble</a></li>
                <li class="w3_g_plus"><a href="#"><i class="fa fa-google-plus"></i>Google+ </a></li>
            </ul>
        </nav>
    </div>
    <!-- banner -->
    <div class="w3ls-banner text-center">
        <div class="container">
            <h2 class="wthree-title">time to go digital</h2>
            <h3 class="wthree-subtitle">making a better world</h3>
        </div>
    </div>
    <!-- //banner -->
    <!-- breadcrumbs -->
    <div class="w3layouts-breadcrumbs text-center">
        <div class="container">
            <span class="agile-breadcrumbs"><a href="index.html">Home</a> > <span>Blog</span></span>
        </div>
    </div>
    <!-- //breadcrumbs -->
    <div class="general_social_icons">
        <nav class="wthree-social">
            <ul>
                <li class="w3_facebook"><a href="#"> <i class="fa fa-facebook"></i>Facebook</a></li>
                <li class="w3_twitter"><a href="#"><i class="fa fa-twitter"></i>Twitter </a></li>
                <li class="w3_dribbble"><a href="#"> <i class="fa fa-dribbble"></i>Dribbble</a></li>
                <li class="w3_g_plus"><a href="#"><i class="fa fa-google-plus"></i>Google+ </a></li>
            </ul>
        </nav>
    </div>
    <div class="container">
        <!-- blog -->
        <div class="w3ls-section blog-agile-main">
            <h4 class="w3ls-inner-title">our blog</h4>
            <div class="col-md-7  blog-left">
                <div class="post-media">
                    <a href="single.html"><img src="~/Content/images/contact2.jpg" class="img-responsive" alt=""></a>
                    <div class="blog-text">
                        <a href="single.html"><h3 class="h-t">Lorem Ipsum is simply dummy text</h3></a>
                        <div class="entry-meta">
                            <h6 class="blg"><i class="fa fa-clock-o"></i> Jan 25, 2017</h6>
                            <div class="icons">
                                <a href="#"><i class="fa fa-user"></i> Admin</a>
                                <a href="#"><i class="fa fa-comments-o"></i> 2</a>
                                <a href="#"><i class="fa fa-thumbs-o-up"></i> 152</a>
                                <a href="#"><i class="fa fa-thumbs-o-down"></i>  26</a>
                            </div>
                            <div class="clearfix"></div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non semper, inquam; Quo modo autem philosophus loquitur? Duo Reges: constructio interrete. Dici enim nihil potest verius. Hic ambiguo ludimur. An hoc usque quaque, aliter in vita? Bonum incolumis acies: misera caecitas. Favorite</p>
                        </div>
                    </div>
                </div>
                <div class="post-media second">
                    <a href="single.html"><img src="~/Content/images/b1.jpg" class="img-responsive" alt=""></a>
                    <div class="blog-text">
                        <a href="single.html"><h3 class="h-t">Lorem Ipsum is simply dummy text</h3></a>
                        <div class="entry-meta">
                            <h6 class="blg"><i class="fa fa-clock-o"></i> Feb 13, 2017</h6>
                            <div class="icons">
                                <a href="#"><i class="fa fa-user"></i> Admin</a>
                                <a href="#"><i class="fa fa-comments-o"></i> 2</a>
                                <a href="#"><i class="fa fa-thumbs-o-up"></i> 152</a>
                                <a href="#"><i class="fa fa-thumbs-o-down"></i>  26</a>
                            </div>
                            <div class="clearfix"></div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non semper, inquam; Quo modo autem philosophus loquitur? Duo Reges: constructio interrete. Dici enim nihil potest verius. Hic ambiguo ludimur. An hoc usque quaque, aliter in vita? Bonum incolumis acies: misera caecitas. Favorite</p>
                        </div>
                    </div>
                </div>
                <div class="post-media">
                    <a href="single.html"><img src="~/Content/images/contact2.jpg" class="img-responsive" alt=""></a>
                    <div class="blog-text">
                        <a href="single.html"><h3 class="h-t">Lorem Ipsum is simply dummy text</h3></a>
                        <div class="entry-meta">
                            <h6 class="blg"><i class="fa fa-clock-o"></i> Mach 30, 2017</h6>
                            <div class="icons">
                                <a href="#"><i class="fa fa-user"></i> Admin</a>
                                <a href="#"><i class="fa fa-comments-o"></i> 2</a>
                                <a href="#"><i class="fa fa-thumbs-o-up"></i> 152</a>
                                <a href="#"><i class="fa fa-thumbs-o-down"></i>  26</a>
                            </div>
                            <div class="clearfix"></div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non semper, inquam; Quo modo autem philosophus loquitur? Duo Reges: constructio interrete. Dici enim nihil potest verius. Hic ambiguo ludimur. An hoc usque quaque, aliter in vita? Bonum incolumis acies: misera caecitas. Favorite</p>
                        </div>
                    </div>
                </div>
                <!--start-blog-pagenate-->
                <div class="blog-pagenat">
                    <ul>
                        <li><a class="frist" href="#">Prev</a></li>
                        <li><a class="last" href="#">Next</a></li>
                    </ul>
                    <div class="clearfix"> </div>
                </div>
                <!--//end-blog-pagenate-->

            </div>
            <div class="col-md-5 blog-right">
                <h4 class="widget-title">My Cityline app</h4>
                <h5 class="h-t">Manage all your accounts anytime. anywhere.</h5>
                <ul class="app-w3ls">
                    <li><a href="#"><img src="~/Content/images/1.png" alt=""></a></li>
                    <li><a href="#"><img src="~/Content/images/2.png" alt=""></a></li>
                </ul>
                <div class="clearfix"></div>
                <div class="w3ls-section widget-side">
                    <h4 class="widget-title">Popular Blog Posts</h4>
                    <ul>
                        <li>
                            <a href="index.html">consectetur adipiscing elit.</a>
                            <span class="post-date">Feb 13, 2017</span>
                        </li>
                        <li>
                            <a href="bbhome">Lorem ipsum dolor sit amet</a>
                            <span class="post-date">Feb 14, 2017</span>
                        </li>
                        <li>
                            <a href="products.html">consectetur adipiscing elit.</a>
                            <span class="post-date">Feb 16, 2017</span>
                        </li>
                        <li>
                            <a href="index.html">Lorem ipsum dolor sit amet</a>
                            <span class="post-date">Feb 18, 2017</span>
                        </li>
                        <li>
                            <a href="index.html">consectetur adipiscing elit.</a>
                            <span class="post-date">Feb 19, 2017</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div><!-- //blog-->
    </div>
    <!-- footer -->
    
    <!-- //footer -->
    <!-- Modal1 -->
    <div class="modal fade" id="myModal5" tabindex="-1" role="dialog">

        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>Register</h4>
                    <div class="login-form">
                        <form action="#" method="post">
                            <input type="text" name="name" placeholder="Name" required="">
                            <input type="email" name="email" placeholder="E-mail" required="">
                            <input type="password" name="password" placeholder="Password" required="" id="password1">
                            <input type="password" name="conform password" placeholder="Confirm Password" required="" id="password2">
                            <div class="signin-rit">
                                <span class="agree-checkbox">
                                    <label class="checkbox"><input type="checkbox" name="checkbox">I agree to your <a class="w3layouts-t" href="terms.html">Terms of Use</a> and <a class="w3layouts-t" href="privacy.html" target="_blank">Privacy Policy</a></label>
                                </span>
                            </div>
                            <div class="tp">
                                <input type="submit" value="REGISTER NOW">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //Modal1 -->
    <script type="text/javascript">
					window.onload = function () {
						document.getElementById("password1").onchange = validatePassword;
						document.getElementById("password2").onchange = validatePassword;
					}
					function validatePassword(){
						var pass2=document.getElementById("password2").value;
						var pass1=document.getElementById("password1").value;
						if(pass1!=pass2)
							document.getElementById("password2").setCustomValidity("Passwords Don't Match");
						else
							document.getElementById("password2").setCustomValidity('');
							//empty string means no validation error
					}

    </script>

    <script src="~/Content/js/SmoothScroll.min.js"></script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/Content/js/bootstrap.js"></script>


</body>

</html>


