@{
    ViewBag.Title = "Contact";
}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>CityLine a corporate Category Flat Bootstrap Responsive Website Template | Contact :: w3layouts</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="CityLine Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //for-mobile-apps -->
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- pop-up -->
    <link href="~/Content/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //pop-up -->
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- js -->
    <script src="~/Content/js/jquery-2.2.3.min.js"></script>
    <!--/js-->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
          rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic'
          rel='stylesheet' type='text/css'>
    <!-- nav smooth scroll -->
    <script>
$(document).ready(function(){
    $(".dropdown").hover(
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');
        }
    );
});
    </script>
    <!-- //nav smooth scroll -->
</head>
<body>
    
    <!-- //header -->
    <div class="w3ls-banner contact-agileinfo">
        <div class="container">
            <h2 class="w3ls-title">Need help?</h2>
            <h3 class="w3-subtitle">we're here for you!</h3>
        </div>
    </div>
    <!-- //banner -->
    <!-- breadcrumbs -->
    <div class="w3layouts-breadcrumbs text-center">
        <div class="container">
            <span class="agile-breadcrumbs"><a href="index.html">Home</a> > <span>Contact Us</span></span>
        </div>
    </div>
    <!-- //breadcrumbs -->
    <div class="w3l-main-contact">
        <div class="container">
            <div class="col-md-3 w3_agileits-contact-inner">
                <ul class="w3-inner-contact">
                    <li><a href="cabletv.html">digital cable tv</a></li>
                    <li><a href="broadband.html">broadband</a></li>
                    <li class="active"><a href="contact.html">customer care</a></li>
                    <li><a href="faq.html">faq</a></li>
                    <li><a href="media.html">mediacontact</a></li>
                </ul>
            </div>
            <div class="col-md-9 agileinfo-contact-main-address">
                <h4 class="w3ls-inner-title">help at hand</h4>
                <p>
                    we aim to provide our customers with best possible services. In case you have any suggestion / feedback,
                    we would be delightful to assist you at the earliest.
                </p>
                <div class="list_agileits_w3layouts">
                    <div class="section_class_agileits sec-left">
                        <label class="contact-form-w3ls">Select service type<span>*</span></label>
                        <select>
                            <option value="0"> Select </option>
                            <option value="1">Digital TV </option>
                            <option value="2">Broadband</option>
                        </select>
                    </div>
                    <div class="section_class_agileits sec-right">
                        <label class="contact-form-w3ls">Select enquiry type<span>*</span></label>
                        <select>
                            <option value="0">Select </option>
                            <option value="1">Request</option>
                            <option value="3">Query</option>
                            <option value="2">Complaint</option>
                            <option value="1">Feedback</option>
                        </select>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="agileits-main-right">
                    <h5>Fill in your details</h5>
                    <form action="#" method="post" class="agile_form">
                        <div class="w3ls-text sec-left">
                            <label class="contact-form-w3ls">Mobile no.<span>*</span></label>
                            <input placeholder=" " name="first name" type="text" required="">
                        </div>
                        <div class="w3ls-text sec-right">
                            <label class="contact-form-w3ls">Email<span>*</span></label>
                            <input placeholder=" " name="first name" type="email" required="">
                        </div>
                        <div class="clearfix"></div>
                        <div class="w3ls-text sec-left">
                            <label class="contact-form-w3ls">Name<span>*</span></label>
                            <input placeholder=" " name="first name" type="text" required="">
                        </div>
                        <div class="section_class_agileits sec-right">
                            <label class="contact-form-w3ls">Select Place<span>*</span></label>
                            <select>
                                <option value="0">Select </option>
                                <option value="1">City1</option>
                                <option value="3">City2</option>
                                <option value="2">City3</option>
                                <option value="1">City4</option>
                            </select>
                        </div>
                        <div class="clearfix"></div>
                        <label class="contact-form-w3ls">What would you like us to assist you with?<span>*</span></label>
                        <textarea class="w3l_summary" required=""></textarea>
                        <input type="submit" value="Submit">
                        <p><span>*</span>marked fields are mandatory</p>

                    </form>
                </div>
                <div class="clearfix">	</div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    
    <!-- //footer -->
    <!-- Modal1 -->
    <div class="modal fade" id="myModal4" tabindex="-1" role="dialog">

        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>Login</h4>
                    <div class="login-form">
                        <form action="#" method="post">
                            <input type="email" name="email" placeholder="E-mail" required="">
                            <input type="password" name="password" placeholder="Password" required="">
                            <div class="tp">
                                <input type="submit" value="LOGIN NOW">
                            </div>
                            <div class="forgot-grid">
                                <div class="log-check">
                                    <label class="checkbox"><input type="checkbox" name="checkbox">Remember me</label>
                                </div>
                                <div class="forgot">
                                    <a href="#" data-toggle="modal" data-target="#myModal2">Forgot Password?</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //Modal1 -->
    <!-- Modal1 -->
    <div class="modal fade" id="myModal5" tabindex="-1" role="dialog">

        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>Register</h4>
                    <div class="login-form">
                        <form action="#" method="post">
                            <input type="text" name="name" placeholder="Name" required="">
                            <input type="email" name="email" placeholder="E-mail" required="">
                            <input type="password" name="password" placeholder="Password" required="">
                            <input type="password" name="conform password" placeholder="Confirm Password" required="">
                            <div class="signin-rit">
                                <span class="agree-checkbox">
                                    <label class="checkbox"><input type="checkbox" name="checkbox">I agree to your <a class="w3layouts-t" href="#" target="_blank">Terms of Use</a> and <a class="w3layouts-t" href="#" target="_blank">Privacy Policy</a></label>
                                </span>
                            </div>
                            <div class="tp">
                                <input type="submit" value="REGISTER NOW">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //Modal1 -->
    <!-- Modal1 -->
    <div class="modal fade" id="myModal5" tabindex="-1" role="dialog">

        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>Register</h4>
                    <div class="login-form">
                        <form action="#" method="post">
                            <input type="text" name="name" placeholder="Name" required="">
                            <input type="email" name="email" placeholder="E-mail" required="">
                            <input type="password" name="password" placeholder="Password" required="" id="password1">
                            <input type="password" name="conform password" placeholder="Confirm Password" required="" id="password2">
                            <div class="signin-rit">
                                <span class="agree-checkbox">
                                    <label class="checkbox"><input type="checkbox" name="checkbox">I agree to your <a class="w3layouts-t" href="terms.html">Terms of Use</a> and <a class="w3layouts-t" href="privacy.html" target="_blank">Privacy Policy</a></label>
                                </span>
                            </div>
                            <div class="tp">
                                <input type="submit" value="REGISTER NOW">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //Modal1 -->
    <script type="text/javascript">
					window.onload = function () {
						document.getElementById("password1").onchange = validatePassword;
						document.getElementById("password2").onchange = validatePassword;
					}
					function validatePassword(){
						var pass2=document.getElementById("password2").value;
						var pass1=document.getElementById("password1").value;
						if(pass1!=pass2)
							document.getElementById("password2").setCustomValidity("Passwords Don't Match");
						else
							document.getElementById("password2").setCustomValidity('');
							//empty string means no validation error
					}

    </script>
    <script src="~/Content/js/SmoothScroll.min.js"></script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/Content/js/bootstrap.js"></script>

</body>

</html>