@{
    ViewBag.Title = "Home Page";
}



	<!-- banner -->
<div class="banner-silder">
    <div id="JiSlider" class="jislider">
        <ul>

            <li>
                <div class="w3layouts-banner-top">

                    <div class="container">
                        <div class="agileits-banner-info">

                            <h3>Welcome to Nexus Service Marketing System</h3>
                            <p>Sit amet neque semper euismod.</p>

                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="w3layouts-banner-top w3layouts-banner-top1">
                    <div class="container">
                        <div class="agileits-banner-info">

                            <h3>Time to go Digital</h3>
                            <p>Amet sit neque semper euismod.</p>

                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="w3layouts-banner-top w3layouts-banner-top2">
                    <div class="container">
                        <div class="agileits-banner-info">
                            <h3>Enjoy free live TV</h3>
                            <p>Neque amet sit semper euismod.</p>
                        </div>

                    </div>
                </div>
            </li>
            <li>
                <div class="w3layouts-banner-top w3layouts-banner-top3">
                    <div class="container">
                        <div class="agileits-banner-info">
                            <h3>Exclusive Digital services</h3>
                            <p>Semper neque amet sit euismod.</p>

                        </div>

                    </div>
                </div>
            </li>

        </ul>
    </div>
</div>
<!-- //banner -->
<div class="container">
    <!-- services section -->
    <div class="w3ls-section w3_agileits-services" id="services">
        <h2 class="agileits-title">welcome to cityline</h2>
        <h4 class="wthree">Phasellus dapibus felis elit accumsan arcu vitae.</h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna, euismod ut ornare non, volutpat vel tortor.
            Integer laoreet placerat suscipit.
        </p>
      
        <div class="agileinfo-about-main">
            <div class="col-md-8 demo">
                <div id="verticalTab" class="resp-vtabs" style="display: block; width: 100%; margin: 0px;">
                    <ul class="resp-tabs-list">
                        <li class="resp-tab-item resp-tab-active" aria-controls="tab_item-0" role="tab">
                            <div class="tab1">
                                <h3>investors</h3>
                            </div>
                        </li>
                        <li class="resp-tab-item" aria-controls="tab_item-1" role="tab">
                            <div class="tab1">
                                <h3>partners</h3>
                            </div>
                        </li>
                        <li class="resp-tab-item" aria-controls="tab_item-2" role="tab">
                            <div class="tab1">
                                <h3>vision</h3>
                            </div>
                        </li>
                        <li class="resp-tab-item" aria-controls="tab_item-3" role="tab">
                            <div class="tab1">
                                <h3>mision</h3>
                            </div>
                        </li>
                        <li class="resp-tab-item" aria-controls="tab_item-4" role="tab">
                            <div class="tab1">
                                <h3>management</h3>
                            </div>

                        </li>
                    </ul>
                    <div class="resp-tabs-container">
                        <h2 class="resp-accordion resp-tab-active" role="tab" aria-controls="tab_item-0">
                            <span class="resp-arrow"></span>
                            <div class="tab1">
                                <h3>investors</h3>
                            </div>
                        </h2><div class="tabs-right1 resp-tab-content resp-tab-content-active" aria-labelledby="tab_item-0" style="display:block">
                            <h6>Aliquam donec id urna</h6>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna, euismod ut ornare non, volutpat vel
                                tortor. Integer laoreet placerat suscipit.
                            </p>
                            <p class="agile-tab-txt">
                                scelerisque commodo.Nam porta cursus lectus. Proin nunc erat, gravida a facilisis quis, ornare id lectus. Proin consectetur
                                nibh quis urna gravida mollis.Nam porta cursus lectus. Proin nunc erat, gravida a facilisis quis, ornare id lectus.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna, euismod ut ornare non, volutpat vel
                                tortor. Integer laoreet placerat suscipit.
                            </p>
                            <div class="button">
                                <a href="about.html">Get More<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
                            </div>
                        </div>
                        <h2 class="resp-accordion" role="tab" aria-controls="tab_item-1">
                            <span class="resp-arrow"></span>
                            <div class="tab1">
                                <h3>partners</h3>
                            </div>
                        </h2><div class="tabs-right1 resp-tab-content" aria-labelledby="tab_item-1">
                            <h6>Aliquam donec id urna</h6>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna, euismod ut ornare non, volutpat vel
                                tortor. Integer laoreet placerat suscipit.
                            </p>
                            <p class="agile-tab-txt">
                                scelerisque commodo.Nam porta cursus lectus. Proin nunc erat, gravida a facilisis quis, ornare id lectus. Proin consectetur
                                nibh quis urna gravida mollis.Nam porta cursus lectus. Proin nunc erat, gravida a facilisis quis, ornare id lectus.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna, euismod ut ornare non, volutpat vel
                                tortor. Integer laoreet placerat suscipit.
                            </p>
                            <div class="button">
                                <a href="about.html">Get More<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
                            </div>
                        </div>
                        <h2 class="resp-accordion" role="tab" aria-controls="tab_item-2">
                            <span class="resp-arrow"></span>
                            <div class="tab1">
                                <h3>vision</h3>
                            </div>
                        </h2><div class="tabs-right1 resp-tab-content" aria-labelledby="tab_item-2">
                            <h6>Aliquam donec id urna</h6>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna, euismod ut ornare non, volutpat vel
                                tortor. Integer laoreet placerat suscipit.
                            </p>
                            <p class="agile-tab-txt">
                                scelerisque commodo.Nam porta cursus lectus. Proin nunc erat, gravida a facilisis quis, ornare id lectus. Proin consectetur
                                nibh quis urna gravida mollis.Nam porta cursus lectus. Proin nunc erat, gravida a facilisis quis, ornare id lectus.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna, euismod ut ornare non, volutpat vel
                                tortor. Integer laoreet placerat suscipit.
                            </p>
                            <div class="button">
                                <a href="about.html">Get More<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
                            </div>
                        </div>
                        <h2 class="resp-accordion" role="tab" aria-controls="tab_item-3">
                            <span class="resp-arrow"></span>
                            <div class="tab1">
                                <h3>mision</h3>
                            </div>
                        </h2><div class="tabs-right1 resp-tab-content" aria-labelledby="tab_item-3">
                            <h6>Aliquam donec id urna</h6>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna, euismod ut ornare non, volutpat vel
                                tortor. Integer laoreet placerat suscipit.
                            </p>
                            <p class="agile-tab-txt">
                                scelerisque commodo.Nam porta cursus lectus. Proin nunc erat, gravida a facilisis quis, ornare id lectus. Proin consectetur
                                nibh quis urna gravida mollis.Nam porta cursus lectus. Proin nunc erat, gravida a facilisis quis, ornare id lectus.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna, euismod ut ornare non, volutpat vel
                                tortor. Integer laoreet placerat suscipit.
                            </p>
                            <div class="button">
                                <a href="about.html">Get More<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
                            </div>
                        </div>
                        <h2 class="resp-accordion" role="tab" aria-controls="tab_item-4">
                            <span class="resp-arrow"></span>
                            <div class="tab1">
                                <h3>management</h3>
                            </div>

                        </h2><div class="tabs-right1 resp-tab-content" aria-labelledby="tab_item-4">
                            <h6>Aliquam donec id urna</h6>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna, euismod ut ornare non, volutpat vel tortor. Integer laoreet placerat suscipit.
                            </p>
                            <p class="agile-tab-txt">
                                scelerisque commodo.Nam porta cursus lectus. Proin nunc erat, gravida a facilisis quis, ornare id lectus. Proin consectetur nibh quis urna gravida mollis.Nam porta cursus lectus. Proin nunc erat, gravida a facilisis quis, ornare id lectus.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna, euismod ut ornare non, volutpat vel tortor. Integer laoreet placerat suscipit.
                            </p>
                            <div class="button">
                                <a href="about.html">Get More<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="height: 30px; clear: both"></div>
            </div>
            <div class="col-md-4 w3ls-about-right">
                <img src="~/Content/images/home.png" class="img-responsive" alt="">
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
    <script src="~/Content/js/easy-responsive-tabs.js"></script>
    <script>
        $(document).ready(function () {
            $('#horizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true, // 100% fit in a container
                closed: 'accordion', // Start closed if in accordion view
                activate: function (event) { // Callback function if tab is switched
                    var $tab = $(this);
                    var $info = $('#tabInfo');
                    var $name = $('span', $info);
                    $name.text($tab.text());
                    $info.show();
                }
            });
            $('#verticalTab').easyResponsiveTabs({
                type: 'vertical',
                width: 'auto',
                fit: true
            });
        });
    </script>
    <!-- //agents section -->
    <!-- markets -->
    <div class="w3ls-section markets" id="markets">
        <div class="markets-grids">
            <div class="col-md-3 col-sm-6 col-xs-6 w3ls-markets-grid text-center">
                <div class="agileits-icon-grid">
                    <div class="icon-left">
                        <i class="fa fa-wifi" aria-hidden="true"></i>
                    </div>
                    <div class="icon-right">
                        <h5>Suspendisse</h5>
                        <p>Phasellus dapibus felis elit, sed accumsan arcu gravida vitae.</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 w3ls-markets-grid text-center">
                <div class="agileits-icon-grid">
                    <div class="icon-left">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                    </div>
                    <div class="icon-right">
                        <h5>Aliquam</h5>
                        <p>Phasellus dapibus felis elit, sed accumsan arcu gravida vitae.</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 w3ls-markets-grid text-center">
                <div class="agileits-icon-grid">
                    <div class="icon-left">
                        <i class="fa fa-television" aria-hidden="true"></i>
                    </div>
                    <div class="icon-right">
                        <h5>Consectetur</h5>
                        <p>Phasellus dapibus felis elit, sed accumsan arcu gravida vitae.</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 w3ls-markets-grid text-center">
                <div class="agileits-icon-grid">
                    <div class="icon-left">
                        <i class="fa fa-tasks" aria-hidden="true"></i>
                    </div>
                    <div class="icon-right">
                        <h5>Bibendum</h5>
                        <p>Phasellus dapibus felis elit, sed accumsan arcu gravida vitae.</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //markets -->
    <!-- offers -->
    <div class="w3ls-section offers">
        <div class="offers-grids">
            <div class="wthree-offers-right">
                <div class="col-md-7  col-sm-8 col-xs-8 wthree-offers1-right">
                    <h4>CityLine | Digital Networks Broadband</h4>
                    <p>Phasellus dapibus felis elit, sed accumsan arcu gravida vitae.</p>
                    <ul>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Phasellus sem leo, interdum quis risus</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Nullam egestas nisi id malesuada aliquet </a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Donec condimentum purus urna venenatis</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Ut congue, nisl id tincidunt lobor mollis</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Cum sociis natoque penatibus et magnis</a></li>
                    </ul>
                </div>
                <div class="col-md-5 col-sm-4  col-xs-4 wthree-offers1">
                    <img src="~/Content/images/bg.jpg" alt="" class="img-responsive" />
                </div>

                <div class="clearfix"> </div>
            </div>
            <div class="w3ls-offers-main">
                <div class="col-md-5  col-sm-4 col-xs-4 wthree-offers1">
                    <img src="~/Content/images/sat.png" alt="" class="img-responsive" />
                </div>
                <div class="col-md-7  col-sm-8 col-xs-8 wthree-offers-left">
                    <div class="offers-left-heading">
                        <h4>CityLine | Digital Networks DTH</h4>
                        <h5>Phasellus dapibus felis elit, sed accumsan arcu gravida vitae.</h5>
                    </div>
                    <div class="offers-left-grids">
                        <div class="offers-number">
                            <p>1</p>
                        </div>
                        <div class="offers-text">
                            <p>Integer egestas non lorem eget aliquet. Nulla egestas felis et maximus elementum. Morbi a dui ac nunc mollis rhoncus.</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="offers-left-grids offers-left-middle">
                        <div class="offers-number">
                            <p>2</p>
                        </div>
                        <div class="offers-text">
                            <p>Integer egestas non lorem eget aliquet. Nulla egestas felis et maximus elementum. Morbi a dui ac nunc mollis rhoncus.</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="offers-left-grids">
                        <div class="offers-number">
                            <p>3</p>
                        </div>
                        <div class="offers-text">
                            <p>Integer egestas non lorem eget aliquet. Nulla egestas felis et maximus elementum. Morbi a dui ac nunc mollis rhoncus.</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- offers -->
    <div class="service-bottom">
        <div class="services-w3ls-row agileits-w3layouts">
            <div class="col-md-3 col-sm-3 col-xs-6 services-grid agileits-w3layouts text-center">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                <h5>Inquiry</h5>

            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 services-grid agileits-w3layouts text-center">
                <i class="fa fa-comments" aria-hidden="true"></i>
                <h5>24/7 Support</h5>

            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 services-grid agileits-w3layouts text-center">
                <i class="fa fa-question" aria-hidden="true"></i>
                <h5>faqs</h5>

            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 services-grid agileits-w3layouts text-center">
                <i class="fa fa-list-alt" aria-hidden="true"></i>
                <h5>quick pay bill</h5>

            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>