@{
    ViewBag.Title = "Packs";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>CityLine a corporate Category Flat Bootstrap Responsive Website Template | Packs :: w3layouts</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="CityLine Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //for-mobile-apps -->
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- services -->
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" type="text/css" media="all" />
    <!-- pop-up -->
    <link href="~/Content/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //pop-up -->
    <link href="~/Content/css/services.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- js -->
    <script src="~/Content/js/jquery-2.2.3.min.js"></script>
    <!--/js-->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
          rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic'
          rel='stylesheet' type='text/css'>
    <!-- nav smooth scroll -->
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
				function () {
				    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
				    $(this).toggleClass('open');
				},
				function () {
				    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
				    $(this).toggleClass('open');
				}
			);
        });

    </script>
    <!-- //nav smooth scroll -->
</head>

<body>
    <!-- header -->
    <!-- //header -->
    <div class="general_social_icons">
        <nav class="wthree-social">
            <ul>
                <li class="w3_twitter"><a href="#"><i class="fa fa-twitter"></i>Twitter </a></li>
                <li class="w3_facebook"><a href="#"> <i class="fa fa-facebook"></i>Facebook</a></li>
                <li class="w3_dribbble"><a href="#"> <i class="fa fa-dribbble"></i>Dribbble</a></li>
                <li class="w3_g_plus"><a href="#"><i class="fa fa-google-plus"></i>Google+ </a></li>
            </ul>
        </nav>
    </div>
    <!-- banner -->
    <div class="w3ls-banner products-agileinfo">
        <div class="container">
            <h2 class="w3ls-title">3D Visual.</h2>
            <h3 class="w3-subtitle">Feel the Beauty!</h3>
        </div>
    </div>
    <!-- //banner -->
    <!-- breadcrumbs -->
    <div class="w3layouts-breadcrumbs text-center">
        <div class="container">
            <span class="agile-breadcrumbs"><a href="index.html">Home</a> > <a href="products.html">Digital Cable Tv</a> > <span>Channels & Packs</span></span>
        </div>
    </div>
    <!-- //breadcrumbs -->
    <div class="container">
        <div class="w3ls-section">
            <div class="col-md-4 col-sm-4 col-xs-4 agileinfo-about-img abt-w3ls-btmimg">
                <img src="~/Content/images/about2.png" class="img-responsive" alt="" />
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8 agileinfo-about">
                <h4 class="info">Get the best of internet and DTH channels on your TV</h4>
            </div>
            <div class="clearfix"></div>
            <!-- services -->
            <div id="services" class="services jarallax">

                <h4 class="w3ls-inner-title">Entertainment Packages</h4>
                <div class="w3-services-grids">
                    <div class="col-md-6 col-sm-6 col-xs-6  w3l-services-grid">
                        <div class="col-md-6 w3ls-services-img">
                            <i class="fa fa-television" aria-hidden="true"></i>
                            <h4>Diamond HD</h4>
                            <h5>50<sup>+</sup> HD Channels</h5>
                            <p>So wait no more! Switch to HD now.</p>
                        </div>
                        <div class="col-md-6 agileits-services-info">
                            <h6 class="w3ls-pack-title">select a pack</h6>
                            <ul class="packs-wthree">
                                <li>
                                    <input type="radio" name="view" id="excellent">
                                    <label for="excellent">$500 /<sub> year</sub></label>
                                    <div class="check w3"></div>
                                </li>
                                <li>
                                    <input type="radio" name="view" id="good" checked="checked">
                                    <label for="good">$300 /<sub>6 months</sub></label>
                                    <div class="check w3ls"></div>
                                </li>
                                <li>
                                    <input type="radio" name="view" id="neutral">
                                    <label for="neutral">$200 /<sub>3 months</sub></label>
                                    <div class="check wthree"></div>
                                </li>
                                <li>
                                    <input type="radio" name="view" id="poor">
                                    <label for="poor">$150 /<sub>month</sub></label>
                                    <div class="check w3_agileits"></div>
                                </li>
                            </ul>
                            <a href="#" class="login" data-toggle="modal" data-target="#myModal4">get now</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 w3l-services-grid">
                        <div class="col-md-6 w3ls-services-img">
                            <i class="fa fa-television" aria-hidden="true"></i>
                            <h4>Royal HD</h4>
                            <h5>40<sup>+</sup> HD Channels</h5>
                            <p>So wait no more! Switch to HD now.</p>
                        </div>
                        <div class="col-md-6 agileits-services-info">
                            <h6 class="w3ls-pack-title">select a pack</h6>
                            <ul class="packs-wthree">
                                <li>
                                    <input type="radio" name=view id="g1">
                                    <label for="g1">
                                        $400/<sub>year</sub>
                                    </label>
                                    <div class="check w3"></div>
                                </li>
                                <li>
                                    <input type="radio" name="view" id="g2" checked="checked">
                                    <label for="g2">$250 /<sub>6 months</sub></label>
                                    <div class="check w3ls"></div>
                                </li>
                                <li>
                                    <input type="radio" name="view" id="g3">
                                    <label for="g3">$180 /<sub>3 months</sub></label>
                                    <div class="check wthree"></div>
                                </li>
                                <li>
                                    <input type="radio" name="view" id="g4">
                                    <label for="g4">$45 /<sub>month</sub></label>
                                    <div class="check w3_agileits"></div>
                                </li>
                            </ul>
                            <a href="#" class="login" data-toggle="modal" data-target="#myModal4">get now</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-6 col-xs-6 w3l-services-grid">
                        <div class="col-md-6 w3ls-services-img">
                            <i class="fa fa-television" aria-hidden="true"></i>
                            <h4>PrimeHD</h4>
                            <h5>35<sup>+</sup> HD Channels</h5>
                            <p>So wait no more! Switch to HD now.</p>
                        </div>
                        <div class="col-md-6 agileits-services-info">
                            <h6 class="w3ls-pack-title">select a pack</h6>
                            <ul class="packs-wthree">
                                <li>
                                    <input type="radio" name="view" id="gr1">
                                    <label for="gr1">
                                        $300 /<sub>year</sub>
                                    </label>
                                    <div class="check w3"></div>
                                </li>
                                <li>
                                    <input type="radio" name="view" id="gr2" checked="checked">
                                    <label for="gr2">$200 /<sub>6 months</sub></label>
                                    <div class="check w3ls"></div>
                                </li>
                                <li>
                                    <input type="radio" name="view" id="gr3">
                                    <label for="gr3">$150 /<sub>3 months</sub></label>
                                    <div class="check wthree"></div>
                                </li>
                                <li>
                                    <input type="radio" name="view" id="gr4">
                                    <label for="gr4">$65 /<sub>month</sub></label>
                                    <div class="check w3_agileits"></div>
                                </li>
                            </ul>
                            <a href="#" class="login" data-toggle="modal" data-target="#myModal4">get now</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-6 w3l-services-grid">
                        <div class="col-md-6 w3ls-services-img">
                            <i class="fa fa-television" aria-hidden="true"></i>
                            <h4>Max HD</h4>
                            <h5>60<sup>+</sup> HD Channels</h5>
                            <p>So wait no more! Switch to HD now.</p>
                        </div>
                        <div class="col-md-6 agileits-services-info">
                            <h6 class="w3ls-pack-title">select a pack</h6>
                            <ul class="packs-wthree">
                                <li>
                                    <input type="radio" name="view" id="p1">
                                    <label for="p1">
                                        $500 /<sub>year</sub>
                                    </label>
                                    <div class="check w3"></div>
                                </li>
                                <li>
                                    <input type="radio" name="view" id="p2">
                                    <label for="p2">$290 /<sub>6 months</sub></label>
                                    <div class="check w3ls"></div>
                                </li>
                                <li>
                                    <input type="radio" name="view" id="p3">
                                    <label for="p3">$160 /<sub>3 months</sub></label>
                                    <div class="check wthree"></div>
                                </li>
                                <li>
                                    <input type="radio" name="view" id="p4">
                                    <label for="p4">$100 /<sub>month</sub></label>
                                    <div class="check w3_agileits"></div>
                                </li>
                            </ul>
                            <a href="#" class="login" data-toggle="modal" data-target="#myModal4">get now</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-6 col-xs-6 w3l-services-grid">
                        <div class="col-md-6 w3ls-services-img">
                            <i class="fa fa-television" aria-hidden="true"></i>
                            <h4>Prime HD</h4>
                            <h5>30<sup>+</sup> HD Channels</h5>
                            <p>So wait no more! Switch to HD now.</p>
                        </div>
                        <div class="col-md-6 agileits-services-info">
                            <h6 class="w3ls-pack-title">select a pack</h6>
                            <ul class="packs-wthree">
                                <li>
                                    <input type="radio" name="view" id="pl1">
                                    <label for="pl1">
                                        $350 /<sub>year</sub>
                                    </label>
                                    <div class="check w3"></div>
                                </li>
                                <li>
                                    <input type="radio" name="view" id="pl2">
                                    <label for="pl2">$200 /<sub>6 months</sub></label>
                                    <div class="check w3ls"></div>
                                </li>
                                <li>
                                    <input type="radio" name="view" id="pl3">
                                    <label for="pl3">$150 /<sub>3 months</sub></label>
                                    <div class="check wthree"></div>
                                </li>
                                <li>
                                    <input type="radio" name="view" id="pl4">
                                    <label for="pl4">$50 /<sub>month</sub></label>
                                    <div class="check w3_agileits"></div>
                                </li>
                            </ul>
                            <a href="#" class="login" data-toggle="modal" data-target="#myModal4">get now</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-6 w3l-services-grid">
                        <div class="col-md-6 w3ls-services-img">
                            <i class="fa fa-television" aria-hidden="true"></i>
                            <h4>Elite HD</h4>
                            <h5>30<sup>+</sup> HD Channels</h5>
                            <p>So wait no more! Switch to HD now.</p>
                        </div>
                        <div class="col-md-6 agileits-services-info">
                            <h6 class="w3ls-pack-title">select a pack</h6>
                            <ul class="packs-wthree">
                                <li>
                                    <input type="radio" name="view" id="gl1">
                                    <label for="gl1">
                                        $350 /<sub>year</sub>
                                    </label>
                                    <div class="check w3"></div>
                                </li>
                                <li>
                                    <input type="radio" name="view" id="gl2">
                                    <label for="gl2">$240 /<sub>6 months</sub></label>
                                    <div class="check w3ls"></div>
                                </li>
                                <li>
                                    <input type="radio" name="view" id="gl3">
                                    <label for="gl3">$180 /<sub>3 months</sub></label>
                                    <div class="check wthree"></div>
                                </li>
                                <li>
                                    <input type="radio" name="view" id="gl4">
                                    <label for="gl4">$100 /<sub>month</sub></label>
                                    <div class="check w3_agileits"></div>
                                </li>
                            </ul>
                            <a href="#" class="login" data-toggle="modal" data-target="#myModal4">get now</a>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <!-- //services -->

        </div>

    </div>
    <!-- footer -->
    <!-- //footer -->
    <!-- Modal1 -->
    <div class="modal fade" id="myModal4" tabindex="-1" role="dialog">

        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>Login</h4>
                    <div class="login-form">
                        <form action="#" method="post">
                            <input type="email" name="email" placeholder="E-mail" required="">
                            <input type="password" name="password" placeholder="Password" required="">
                            <div class="tp">
                                <input type="submit" value="LOGIN NOW">
                            </div>
                            <div class="forgot-grid">
                                <div class="log-check">
                                    <label class="checkbox"><input type="checkbox" name="checkbox">Remember me</label>
                                </div>
                                <div class="forgot">
                                    <a href="#" data-toggle="modal" data-target="#myModal2">Forgot Password?</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //Modal1 -->
    <!-- Modal1 -->
    <div class="modal fade" id="myModal5" tabindex="-1" role="dialog">

        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>Register</h4>
                    <div class="login-form">
                        <form action="#" method="post">
                            <input type="text" name="name" placeholder="Name" required="">
                            <input type="email" name="email" placeholder="E-mail" required="">
                            <input type="password" name="password" placeholder="Password" required="" id="password1">
                            <input type="password" name="conform password" placeholder="Confirm Password" required="" id="password2">
                            <div class="signin-rit">
                                <span class="agree-checkbox">
                                    <label class="checkbox"><input type="checkbox" name="checkbox">I agree to your <a class="w3layouts-t" href="terms.html">Terms of Use</a> and <a class="w3layouts-t" href="privacy.html" target="_blank">Privacy Policy</a></label>
                                </span>
                            </div>
                            <div class="tp">
                                <input type="submit" value="REGISTER NOW">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //Modal1 -->
    <script type="text/javascript">
        window.onload = function () {
            document.getElementById("password1").onchange = validatePassword;
            document.getElementById("password2").onchange = validatePassword;
        }
        function validatePassword() {
            var pass2 = document.getElementById("password2").value;
            var pass1 = document.getElementById("password1").value;
            if (pass1 != pass2)
                document.getElementById("password2").setCustomValidity("Passwords Don't Match");
            else
                document.getElementById("password2").setCustomValidity('');
            //empty string means no validation error
        }

    </script>
    <script src="~/Content/js/SmoothScroll.min.js"></script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/Content/js/bootstrap.js"></script>


</body>

</html>

