@{
    ViewBag.Title = "products";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>

<head>
    <title>CityLine a corporate Category Flat Bootstrap Responsive Website Template | Privacy :: w3layouts</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="CityLine Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //for-mobile-apps -->
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- pop-up -->
    <link href="~/Content/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //pop-up -->
    <!-- services -->
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/css/products.css" rel="stylesheet" type="text/css" media="all" />
    <!-- js -->
    <script src="~/Content/js/jquery-2.2.3.min.js"></script>
    <!--/js-->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
          rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic'
          rel='stylesheet' type='text/css'>
    <!-- nav smooth scroll -->
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
				function () {
				    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
				    $(this).toggleClass('open');
				},
				function () {
				    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
				    $(this).toggleClass('open');
				}
			);
        });

    </script>
    <!-- //nav smooth scroll -->
</head>
<body>
    <!-- header -->
    <!-- //header -->
    <div class="general_social_icons">
        <nav class="wthree-social">
            <ul>
                <li class="w3_twitter"><a href="#"><i class="fa fa-twitter"></i>Twitter </a></li>
                <li class="w3_facebook"><a href="#"> <i class="fa fa-facebook"></i>Facebook</a></li>
                <li class="w3_dribbble"><a href="#"> <i class="fa fa-dribbble"></i>Dribbble</a></li>
                <li class="w3_g_plus"><a href="#"><i class="fa fa-google-plus"></i>Google+ </a></li>
            </ul>
        </nav>
    </div>
    <!-- banner -->
    <div class="w3ls-banner products-agileinfo">
        <div class="container">
            <h2 class="w3ls-title">3D Visual.</h2>
            <h3 class="w3-subtitle">Feel the Beauty!</h3>
        </div>
    </div>
    <!-- //banner -->
    <!-- breadcrumbs -->
    <div class="w3layouts-breadcrumbs text-center">
        <div class="container">
            <span class="agile-breadcrumbs"><a href="index.html">Home</a> > <a href="products.html">Digital Cable Tv</a> > <span>Products</span></span>
        </div>
    </div>
    <!-- //breadcrumbs -->
    <div class="container">
        <div class="w3ls-section Latest-tv-series">
            <div class="main-about-w3ls-txt">
                <div class="col-md-6 col-sm-6 col-xs-6 agileinfo-about-img">
                    <img src="~/Content/images/dth.jpg" class="img-responsive" alt="">
                </div>
                <div class="col-md-6 col-sm-6  col-xs-6 agileinfo-about-txt pro-txt-w3l">
                    <h4 class="info">Experience the next level of incredible</h4>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- Latest-tv-series -->
            <h4 class="w3ls-inner-title">Glance of HD</h4>
            <!--banner-section-->
            <div class="banner-section">
                <div class="w3ls-about-banner">
                    <div class="callbacks_container">
                        <ul class="rslides callbacks callbacks1" id="slider4">
                            <li>
                                <div class="banner-img">
                                    <img src="~/Content/images/a1.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="banner-info">
                                    <a class="trend" href="packs.html">New</a>
                                    <h3>Cityline</h3>
                                    <p>Digital Networks</p>
                                </div>

                            </li>
                            <li>
                                <div class="banner-img">
                                    <img src="~/Content/images/a2.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="banner-info">
                                    <a class="trend" href="packs.html">New</a>
                                    <h3>Cityline</h3>
                                    <p>Digital Networks</p>
                                </div>


                            </li>
                            <li>
                                <div class="banner-img">
                                    <img src="~/Content/images/a3.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="banner-info">
                                    <a class="trend" href="packs.html">New</a>
                                    <h3>Cityline</h3>
                                    <p>Digital Networks</p>
                                </div>

                                <!-- /w3layouts-agileits -->
                            </li>
                        </ul>
                    </div>
                    <!--banner-->
                    <script src="~/Content/js/responsiveslides.min.js"></script>
                    <script>
                        // You can also use "$(window).load(function() {"
                        $(function () {
                            // Slideshow 4
                            $("#slider4").responsiveSlides({
                                auto: true,
                                pager: true,
                                nav: true,
                                speed: 500,
                                namespace: "callbacks",
                                before: function () {
                                    $('.events').append("<li>before event fired.</li>");
                                },
                                after: function () {
                                    $('.events').append("<li>after event fired.</li>");
                                }
                            });

                        });
                    </script>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <!--//End-banner-->
            <!--/featured-projects-->
            <div class="w3ls-section agitsworkw3ls">
                <h4 class="w3ls-inner-title">Customised packs</h4>
                <div class="col-md-8 col-sm-8 agitsworkw3ls-grid ">
                    <!-- Tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#testi" aria-controls="testi" role="tab" data-toggle="tab">Featured Packs</a></li>
                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Genres</a></li>
                        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Monthly packs</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content w3layouts">
                        <div role="tabpanel" class="tab-pane active" id="testi">
                            <p>
                                Freedom to customize your Pack to suit your every need! Choose from the widest range of chota packs to get the channels of your choice.<br>SMS NET to Name City 12345<br>
                                Choose packs on our IVR on our call center number
                            </p>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="profile">
                            <h6 class="channel-icon">English plus Topup</h6>
                            <ul class="prod-tab-w3">
                                <li><a href="packs.html" title="channel-1"><img src="~/Content/images/l1.png" class="img-responsive" alt="" /></a></li>
                                <li><a href="packs.html" title="channel-2"><img src="~/Content/images/l2.png" class="img-responsive" alt="" /></a></li>
                                <li><a href="packs.html" title="channel-3"><img src="~/Content/images/l4.png" class="img-responsive" alt="" /></a></li>
                                <li><a href="packs.html" title="channel-4"><img src="~/Content/images/l5.png" class="img-responsive" alt="" /></a></li>
                                <li><a href="packs.html" title="channel-5"><img src="~/Content/images/l6.png" class="img-responsive" alt="" /></a></li>
                                <li><a href="packs.html" title="channel-6"><img src="~/Content/images/l7.png" class="img-responsive" alt="" /></a></li>
                                <li><a href="packs.html" title="channel-7"><img src="~/Content/images/l8.png" class="img-responsive" alt="" /></a></li>
                            </ul>
                            <div class="clearfix"></div>
                            <h6 class="channel-icon">Sports plus Topup</h6>
                            <ul class="prod-tab-w3">
                                <li><a href="packs.html" title="channel-1"><img src="~/Content/images/l1.png" class="img-responsive" alt="" /></a></li>
                                <li><a href="packs.html" title="channel-2"><img src="~/Content/images/l2.png" class="img-responsive" alt="" /></a></li>
                                <li><a href="packs.html" title="channel-3"><img src="~/Content/images/l4.png" class="img-responsive" alt="" /></a></li>
                                <li><a href="packs.html" title="channel-4"><img src="~/Content/images/l5.png" class="img-responsive" alt="" /></a></li>
                                <li><a href="packs.html" title="channel-5"><img src="~/Content/images/l6.png" class="img-responsive" alt="" /></a></li>
                                <li><a href="packs.html" title="channel-6"><img src="~/Content/images/l7.png" class="img-responsive" alt="" /></a></li>
                                <li><a href="packs.html" title="channel-7"><img src="~/Content/images/l8.png" class="img-responsive" alt="" /></a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="messages">
                            <ul class="prod-tab1-w3">
                                <li><a href="packs.html" title="channel-1">Value prime kids</a></li>
                                <li><a href="packs.html" title="channel-2">My sports</a></li>
                                <li><a href="packs.html" title="channel-3">Family Plus</a></li>
                                <li><a href="packs.html" title="channel-4">New mega</a></li>
                                <li><a href="packs.html" title="channel-5">Addon Packs</a></li>
                                <li><a href="packs.html" title="channel-6">Regional packs</a></li>
                                <li><a href="packs.html" title="channel-7">South max</a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 abt-w3ls-btmimg">

                    <img src="~/Content/images/box.png" class="img-responsive" alt="" />
                </div>
                <div class="clearfix"></div>
            </div>

            <div id="projects">
                <h4 class="w3ls-inner-title">Features of HD</h4>
                <div class="content-bottom-in">
                    <ul id="flexiselDemo1">
                        <li>
                            <div class="project-fur">
                                <a href="#" data-toggle="modal" data-target="#myModal1"><img class="img-responsive" src="~/Content/images/tv1.jpg" alt="" />	</a>
                                <div class="fur">
                                    <div class="fur1">
                                        <h6 class="fur-name"><a href="#" data-toggle="modal" data-target="#myModal1">Time to go Digital</a></h6>
                                        <span class="fur-money">HD picture quality with Dolby digital surround sound </span>
                                    </div>
                                    <div class="fur2">
                                        <a href="packs.html">know more</a>
                                    </div>
                                </div>
                                <span class="five">3D</span>
                            </div>
                        </li>
                        <li>
                            <div class="project-fur">
                                <a href="#" data-toggle="modal" data-target="#myModal1"><img class="img-responsive" src="~/Content/images/tv2.jpg" alt="" />	</a>
                                <div class="fur">
                                    <div class="fur1">
                                        <h6 class="fur-name"><a href="#" data-toggle="modal" data-target="#myModal1">Time to go Digital</a></h6>
                                        <span class="fur-money">HD picture quality with Dolby digital surround sound </span>
                                    </div>
                                    <div class="fur2">
                                        <a href="packs.html">know more</a>
                                    </div>
                                </div>
                                <span class="five">DTH</span>
                            </div>
                        </li>
                        <li>
                            <div class="project-fur">
                                <a href="#" data-toggle="modal" data-target="#myModal1"><img class="img-responsive" src="~/Content/images/tv3.jpg" alt="" />	</a>
                                <div class="fur">
                                    <div class="fur1">
                                        <h6 class="fur-name"><a href="#" data-toggle="modal" data-target="#myModal1">Aspect Ratio</a></h6>
                                        <span class="fur-money">HD picture quality with Dolby digital surround sound </span>
                                    </div>
                                    <div class="fur2">
                                        <a href="packs.html">know more</a>
                                    </div>
                                </div>
                                <span class="five">AR</span>
                            </div>
                        </li>
                        <li>
                            <div class="project-fur">
                                <a href="#" data-toggle="modal" data-target="#myModal1"><img class="img-responsive" src="~/Content/images/tv4.jpg" alt="" />	</a>
                                <div class="fur">
                                    <div class="fur1">
                                        <h6 class="fur-name"><a href="#" data-toggle="modal" data-target="#myModal1">Dolby Digital plus</a></h6>
                                        <span class="fur-money">HD picture quality with Dolby digital surround sound </span>
                                    </div>
                                    <div class="fur2">
                                        <a href="packs.html">know more</a>
                                    </div>
                                </div>
                                <span class="five">DOLBY</span>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
            <!--//featured-projects-->
            <!-- //Stats -->

            <div class="w3ls-section products-main-agile">
                <div class="col-md-6 col-sm-4 abt-w3ls-btmimg">
                    <img src="~/Content/images/box.png" class="img-responsive" alt="" />
                </div>
                <div class="col-md-6  col-sm-8 product-last">
                    <h3 class="hd-title">Cityline now available in</h3>
                    <div class="banner-button">
                        <a href="#"><img src="~/Content/images/1.png" alt=""></a>
                    </div>
                    <div class="banner-button green-button">
                        <a href="#"><img src="~/Content/images/2.png" alt=""></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"> </div>
            </div>

            <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" property="" />
            <script defer src="~/Content/js/jquery.flexslider.js"></script>
            <script type="text/javascript">
                $(window).load(function () {
                    $('.flexslider').flexslider({
                        animation: "slide",
                        start: function (slider) {
                            $('body').removeClass('loading');
                        }
                    });
                });
            </script>
            <!-- //flexSlider -->
        </div>
    </div>
    <!-- footer -->
    <!-- Modal1 -->
    <div class="modal fade" id="myModal4" tabindex="-1" role="dialog">

        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>Login</h4>
                    <div class="login-form">
                        <form action="#" method="post">
                            <input type="email" name="email" placeholder="E-mail" required="">
                            <input type="password" name="password" placeholder="Password" required="">
                            <div class="tp">
                                <input type="submit" value="LOGIN NOW">
                            </div>
                            <div class="forgot-grid">
                                <div class="log-check">
                                    <label class="checkbox"><input type="checkbox" name="checkbox">Remember me</label>
                                </div>
                                <div class="forgot">
                                    <a href="#" data-toggle="modal" data-target="#myModal2">Forgot Password?</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //Modal1 -->
    <!-- Modal1 -->
    <div class="modal fade" id="myModal5" tabindex="-1" role="dialog">

        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>Register</h4>
                    <div class="login-form">
                        <form action="#" method="post">
                            <input type="text" name="name" placeholder="Name" required="">
                            <input type="email" name="email" placeholder="E-mail" required="">
                            <input type="password" name="password" placeholder="Password" required="" id="password1">
                            <input type="password" name="conform password" placeholder="Confirm Password" required="" id="password2">
                            <div class="signin-rit">
                                <span class="agree-checkbox">
                                    <label class="checkbox"><input type="checkbox" name="checkbox">I agree to your <a class="w3layouts-t" href="terms.html">Terms of Use</a> and <a class="w3layouts-t" href="privacy.html" target="_blank">Privacy Policy</a></label>
                                </span>
                            </div>
                            <div class="tp">
                                <input type="submit" value="REGISTER NOW">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //Modal1 -->
    <script type="text/javascript">
        window.onload = function () {
            document.getElementById("password1").onchange = validatePassword;
            document.getElementById("password2").onchange = validatePassword;
        }
        function validatePassword() {
            var pass2 = document.getElementById("password2").value;
            var pass1 = document.getElementById("password1").value;
            if (pass1 != pass2)
                document.getElementById("password2").setCustomValidity("Passwords Don't Match");
            else
                document.getElementById("password2").setCustomValidity('');
            //empty string means no validation error
        }

    </script>
    <script type="text/javascript">
        $(window).load(function () {
            $("#flexiselDemo1").flexisel({
                visibleItems: 3,
                animationSpeed: 1000,
                autoPlay: false,
                autoPlaySpeed: 3000,
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 600,
                        visibleItems: 1
                    },
                    landscape: {
                        changePoint: 640,
                        visibleItems: 2
                    },
                    tablet: {
                        changePoint: 991,
                        visibleItems: 2
                    }
                }
            });

        });
    </script>
    <script type="text/javascript" src="~/Content/js/jquery.flexisel.js"></script>

    <!-- Horizontal-Tabs-JavaScript -->
    <script src="~/Content/js/easyresponsiveTabs.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#horizontalTab').easyResponsiveTabs({
                type: 'default',
                width: 'auto',
                fit: true,
            });
        });
    </script>
    <!-- Horizontal-Tabs-JavaScript -->
    <script src="~/Content/js/SmoothScroll.min.js"></script>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/Content/js/bootstrap.js"></script>


</body>

</html>

