@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align:center; background-color:green; font-size:45px;">
        <b>SLKD</b>
    </div>
    <div>
        <pre>
            Helo Sir/Madam
            We jusg sjkfjd <a href="@ViewBag.ConfimatioLink">Here</a>

</pre>

    </div>
</body>
</html>
